.navbar{
	display:flex;
	justify-content: center;
	gap:1rem;
  }

.navlink {
	text-decoration:none;
	padding:14px 16px;
	border-radius:10px;
	background-color:rgba(217,229,247);
	color:#000;
	transition:all 350ms;
}
.navlink:hover{
	background-color:rgba(168,197,237);
}
.active{
	background-color:rgba(168,197,237);
}