.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* form inputs */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  min-height:100vh;
}
.inputForm{
  padding:3rem;

}

.btn-wrapper{
  display:flex;
  flex-direction: column;
  gap:3rem;
  padding:3rem;
}

.buttons{
  display:flex;
  gap:2rem;
  margin:3rem;
}

.section {
  min-height: 60vh;
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.comments {
  display:flex;
  flex-direction: column;
  gap:3rem;
  padding: 0 3rem;
  align-items: center;
}
.comment{
  width:60%;
  display:flex;
  flex-direction:column;
  text-align:left;
  border:0.5px #000 solid;
  box-shadow:2px 2px #edf;
  padding:3rem;
  border-radius:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
