.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* form inputs */
.wrapper{
	display:flex;
	flex-direction:column;
	gap:2rem;
	justify-content:center;
	align-items:center;
	margin-top:3rem;
}

.inputForm{
	display:flex;
	flex-direction:column;
	gap:2rem;
	align-items:center;
	justify-content:center;
	margin:2rem;
	padding:3rem;
	border-radius:10px;
	border:1px solid gray;
	width:max-content;
	background-color:#e1e1e1;
}

.inputForm input{
	padding:10px;
	border:none;
	border-radius:5px;
}
.section{
  min-height:60vh;
  width:100%;
  background-color:#dddddd;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
